# DIA
## Temario:
- Tipos de datos
- Operaciones Matematicas
- Operaciones con String
- Operaciones Logicas
- Operaciones Booleanas

## Tipos de Datos

In [5]:
# Existen los Datos
enteros = 7 #Son numeros sin decimales
flotantes = 102.21 #Son numeros con decimales
type(flotantes)

float

In [9]:
# Caracteres / Strings
caracteres = "x"
cadena_caracteres = "Escribe el texto que deses"
type(cadena_caracteres)

str

In [10]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [11]:
# Imprimir
print(enteros)
print(flotantes)
print(caracteres)
print(cadena_caracteres)
print(falso)
print(verdadero)

7
102.21
x
Escribe el texto que deses
False
True

### Espera, el usuario tambien puede ingresar datos

In [ ]:
# Con la funcion input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") #Te lo guarda como un string
print(name)

num = input("Ingresa un numero: ")
print(num + 1)

Mi nombre es: Juan
Juan
Ingresa un numero: 8
9

## Operaciones Matematicas

In [ ]:
# 4to nivel de importancia
# Suma ordinaria
print("Suma ordinaria: ")
print(7 + 4) #un 11
variable1,variable2 = 40,90 #un 130
print(variable1 + variable2)

#Resta ordinaria
print("Resta ordinaria: ")
print(4 - 5) # -1

#Declaracion de variables
v1 = 13.30
v2 = 12.10
resultado = v2 - v1 # 1.2
print(resultado)

Suma ordinaria:
11
130
Resta ordinaria:
-1
-1.200000000000001

In [24]:
# 3er nivel de importancia
#Multiplicacion ordinaria
print("Multipliacion ordinaria")
M1, M2 = 4,3.14
print(M1 * M2) #6.28
#Division ordinaria
print("-------------")
print("Division ordinaria")
M1,M2,M3,M4,M5,M6 = 3,6,1,3,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
#Division de Piso
print("-------------")
print("Division de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)
print( 6 / 2 *3)

Multipliacion ordinaria
12.56
-------------
Division ordinaria
0.5
0.3333333333333333
0.8
-------------
Division de Piso
0
0
0
9.0

In [25]:
#Potencias
print("Potencias")
print(2 ** 4) #16
P1,P2 = 7,2
print(P1 ** P2) #49

Potencias
16
49

In [26]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
A

50.24

# Opearacion String

In [27]:
HM = "Hola Mundo"
print(HM)

a,b = "co", "co"
print(a + " " +b)

Hola Mundo
co co

In [30]:
# Animal, debe tener un nombre, le debe gustar la fruta, debe tener una profesion
Animal = "Cabra"
Nombre = "Santiago"
Fruta = "Mango"
Profesion = "Doctor"
print(f"Hola soy {Nombre} y soy un {Animal}, me gusta el {Fruta} y soy {Profesion}")

Hola soy Santiago y soy un Cabra, me gusta el Mango y soy Doctor

## Operaciones Logicas

In [ ]:
# Empezamos con los operadores logicos <,>, <=,>=, and, or (SIEMPRE RETORNA UN BOOLEANO)

In [31]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >=14
b4

True

In [32]:
# Quieres un hamburgesa con todo
pan = True
queso  = True
mayonesa = True
carne = True
tomate = falso

print(pan and queso and mayonesa and carne and tomate)

False

In [33]:
print(True * 20)
print(False * 10)

20
0