## Dia 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de Datos
Las estructuras de datos son formas de organizar informacion para trabajar con ellas de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave: valor

Nota:

- Pilas (FILO -> First in, last out)
- Colas (FILO -> Firsr in, First out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [ ]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","rabano"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [5]:
print(lista_de_compras[6])

jamon

In [6]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [27]:
# Agregar un elemento en una posicion especifica.
lista_de_compras.insert(1,"platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [28]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [29]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [30]:
lista_de_compras.pop() #Sin nada dentro del parentesis borra el ultimo elemento
lista_de_compras.pop(7) # o puede agarrrar la posicion que quieras (pero iniciando desde 0)
# Nota: te retorna el numero eliminado

'jamon'

In [34]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
    print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [35]:
# len() saca el tamaño de la lista
for i in range(len(lista_de_compras)):
    print(f"{i + 1 } - {lista_de_compras[i]}")

1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [40]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() #sort() sirve para ordenar la lista de manera ascendente
print(promedios)

# ordenar una lista de manera descendente
promedios.sort(reverse=True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [41]:
#Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [44]:
# Encontrar el mayor y el menos de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [46]:
#Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"cali {j}: {cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
cali 1: 100
cali 2: 88
cali 3: 93

Alumno 2
cali 1: 99
cali 2: 56
cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables.

In [47]:
# Hagamos un donde guardemos fechas de nacimiento en una tupla
fechas = ("10/10/05","22/03/02", "17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [48]:
# ES INMUTABLE
fechas.append("10/06/03") # TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) #Aqui ya puedes usar los comandos basicos de una lista

## SETS
Los sets son colecciones SIN orden y que NO permiten elementos duplicados.

In [50]:
nombre = {"Angel", "Emiliano", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Angel', 'Emiliano', 'Diana', 'Juan'}
<class 'set'>

In [51]:
distintos_datos = {"Angel", 1, "Diana", "Juan", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [52]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Emiliano', 'Juan', 'Leonardo'}

In [53]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [54]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [56]:
# Union
matutino = {20322,22183,12312,34324}
vespertino = {23243,343243,43242434,34424}
# Union pero con .union
total_matriculados = matutino.union(vespertino)
print(total_matriculados)
# Union pero con |
total_matriculados = matutino | vespertino
print(total_matriculados)

{20322, 43242434, 22183, 23243, 34424, 343243, 34324, 12312}
{20322, 43242434, 22183, 23243, 34424, 343243, 34324, 12312}

In [57]:
# Interseccion
ca = {1234, 123,1232,123123,312312,3123,32324}
al = {1234,23,323,434,545}
#interseccion con .interseccion()
ca_al = ca.intersection(al)
print(ca_al)
# Interseccion con &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [59]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{32324, 1232, 3123, 123123, 312312, 123}
{32324, 1232, 3123, 123123, 312312, 123}

In [61]:
nombre = {"Angel", "Emiliano", "Diana", "Juan", "Juan"}
#remove, pop
nombre.remove("Angel") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() # Elimina un elemento de manera aleatoria
print(nombre)

{'Emiliano', 'Diana', 'Juan'}
{'Diana', 'Juan'}

In [62]:
# Eliminar todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave: valor

In [69]:
alumno = {
    #Clave    Valor
    "nombre": "Emiliano Cepeda",
    "edad" : 23,
    "carrera": "Ingenieria en Software",
    "semestre": 9,
    "promedio": 88,
    "calificaciones" : [100,94,94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Emiliano Cepeda',
 'edad': 23,
 'carrera': 'Ingenieria en Software',
 'semestre': 9,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [70]:
print("El alumno", alumno["nombre"],"esta estudiando", alumno["carrera"])

El alumno Emiliano Cepeda esta estudiando Ingenieria en Software

In [71]:
# Agregar al diccionario
alumno["area preferida"] = "Sistemas"
alumno

{'nombre': 'Emiliano Cepeda',
 'edad': 23,
 'carrera': 'Ingenieria en Software',
 'semestre': 9,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Sistemas'}

In [72]:
for valor in alumno:
  print(alumno[valor])

Emiliano Cepeda
23
Ingenieria en Software
9
88
[100, 94, 94, 97, 100]
Sistemas

In [73]:
for aspecto, valor in alumno.items():
  #devuelve una vista de todos los pares clave : valor del diccionario
  print(aspecto, ":", valor)

nombre : Emiliano Cepeda
edad : 23
carrera : Ingenieria en Software
semestre : 9
promedio : 88
calificaciones : [100, 94, 94, 97, 100]
area preferida : Sistemas

In [74]:
# El metodo .clear() tambien se puede usar aqui.
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Emiliano Cepeda

In [77]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Emiliano Cepeda'), ('edad', 23), ('carrera', 'Ingenieria en Software'), ('semestre', 9), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Sistemas')])
<class 'dict_items'>
[('nombre', 'Emiliano Cepeda'), ('edad', 23), ('carrera', 'Ingenieria en Software'), ('semestre', 9), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Sistemas')]
<class 'list'>

In [78]:
#El metodo .values() sirve para obtener los valores del diccionario, tambien se puede usar en la iteraccion
alumno_V = alumno.values()
print(type(alumno_V))
alumno_V

<class 'dict_values'>

dict_values(['Emiliano Cepeda', 23, 'Ingenieria en Software', 9, 88, [100, 94, 94, 97, 100], 'Sistemas'])

In [79]:
if "carrera" in alumno:
  print("Existe carrera")
else:
    print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [80]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los (valores) (.update())
alumno.update({"semestre":6})
alumno

{'nombre': 'Emiliano Cepeda',
 'edad': 23,
 'carrera': 'Ingenieria en Software',
 'semestre': 6,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Sistemas'}

In [81]:
# Lista de productos
productos = ["manzana", "banana", "leche", "pan"]  # <-- LISTA

# Tupla de precios
precios = (10, 5, 20, 15)  # <-- TUPLA

# Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {
    productos[i]: {"precio": precios[i], "stock": 10}
    for i in range(len(productos))
}
# <-- DICCIONARIO
# Clave: nombre del producto
# Valor: otro diccionario con "precio" y "stock"

# Set de productos en oferta
ofertas = {"manzana", "pan"}  # <-- SET

# Mostrar productos
for p in productos:
    msg = "OFERTA!!!" if p in ofertas else "Grandes precios!"
    info = inventario[p]
    print(f"{p.title()} - ${info['precio']} - Stock: {info['stock']} -> {msg}")

# Compra simple
compra = input("\n¿Qué producto quieres comprar? ").strip().lower()

if compra in inventario and inventario[compra]["stock"] > 0:
    inventario[compra]["stock"] -= 1
    print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]['stock']}")
else:
    print("Producto no disponible.")

Manzana - $10 - Stock: 10 -> OFERTA!!!
Banana - $5 - Stock: 10 -> Grandes precios!
Leche - $20 - Stock: 10 -> Grandes precios!
Pan - $15 - Stock: 10 -> OFERTA!!!

¿Qué producto quieres comprar? pan
Compraste 1 pan. Stock restante: 9